<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278003594242-528rjbotb57t6sore1jksnfb8aclfvqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278003594242-528rjbotb57t6sore1jksnfb8aclfvqo</string>
	<key>API_KEY</key>
	<string>AIzaSyB4GcMKbGRqP0RLZ3u9XoAgmQI5xU09g1g</string>
	<key>GCM_SENDER_ID</key>
	<string>278003594242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justynakowalkowska.UberApp</string>
	<key>PROJECT_ID</key>
	<string>uberapp-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>uberapp-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278003594242:ios:a2d911a7a83b6e3288231b</string>
	<key>DATABASE_URL</key>
	<string>https://uberapp-2020.firebaseio.com</string>
</dict>
</plist>